@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding-top: 30px;
}

.hero {
  background-image: url("../public/Rectangle 196.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  height: 100vh;
}
.top-heading {
  padding-top: 130px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.54em;
}
.main-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 60px;
  color: #fffef5;
  padding-top: 5px;
  padding-bottom: 70px;
}
.buttonsHeroSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border: 1px solid red;
  width: 100vw;
}

.side-heading {
  position: absolute;
  left: 0px;
  top: 30px;
  rotate: 270deg;
  font-weight: 600;
  font-size: 20px;
}

.btn-1 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffa90f;
  margin-right: 25px;
}

.btn-2 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.13);
  margin-left: 20px;
}

.logos {
  position: absolute;
  left: 60px;
  top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.NatureSectionOne {
  display: flex;
  flex-direction: row;
}

.Nature {
  color: #ffa90f;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 76px;
}
.natureimage1 {
  width: 600px;
  height: 635px;
  background-size: auto;
}
.Nature {
  padding: 0px 55px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.natureHeading {
  font-weight: bold;
  text-align: center;
}
.NatureSectionOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 550px;
  height: 370px;
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins;
  color: #fffef5;
}
.natureimages {
  background-image: url("../public/natureimage1.svg");
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: 0px 50%;
}
.hiddenSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hiddenText {
  color: #ffa90f;
  font-size: 50px;
  font-weight: 700;
  font-family: Montserrat;
  position: absolute;
  top: 45px;
}
/* .sonamarg {
  height: 500px;
} */

.carouselimageone {
  height: 40%;
  position: absolute;
  bottom: 160px;
  left: 230px;
  z-index: 0;
}

.carouselimagetwo {
  height: 50%;
  position: absolute;
  bottom: 130px;
  left: 300px;
  z-index: 1;
}
.carouselimagethree {
  height: 50%;
  position: absolute;
  bottom: 100px;
  left: 30%;
  height: 65%;
  z-index: 2;
}
.carouselimagefour {
  height: 50%;
  position: absolute;
  bottom: 130px;
  right: 320px;
  z-index: 1;
}

.carouselimagefive {
  height: 40%;
  position: absolute;
  bottom: 160px;
  right: 250px;
  z-index: 0;
}
.arrows {
  display: flex;
  position: absolute;
  bottom: -10px;
}
.leftarrow {
  color: #ffa90f;
  width: 150px;
  font-size: 70px;
}

.rightarrow {
  color: #ffa90f;
  font-size: 70px;
}

input[type="text"],
textarea {
  background-color: transparent;
  border: none;
}

.btn-3 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffa90f;
}

@media only screen and (min-width: 1400px) {
  .top-heading {
    padding-top: 200px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.54em;
  }
  .header {
    padding-top: 80px;
  }
  .main-heading {
    font-size: 80px;
    text-align: center;
  }
  .btn-1 {
    width: 230px;
    height: 80px;
  }
  .btn-2 {
    width: 230px;
    height: 80px;
  }

  .Nature {
    padding: 0px 100px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .natureHeading {
    font-weight: bold;
    text-align: center;
    font-size: 76px;
  }

  .description {
    width: 650px;
    height: 370px;
    font-size: 25px;
    text-align: justify;
  }
  .hiddenText {
    font-size: 80px;
    top: 70px;
  }

  .carouselimageone {
    height: 45%;
    position: absolute;
    bottom: 190px;
    left: 230px;
    z-index: 0;
  }

  .carouselimagetwo {
    height: 55%;
    position: absolute;
    bottom: 160px;
    left: 380px;
    z-index: 1;
  }
  .carouselimagethree {
    height: 50%;
    position: absolute;
    bottom: 130px;
    left: 30%;
    height: 65%;
    z-index: 2;
  }
  .carouselimagefour {
    height: 55%;
    position: absolute;
    bottom: 160px;
    right: 340px;
    z-index: 1;
  }

  .carouselimagefive {
    height: 45%;
    position: absolute;
    bottom: 190px;
    right: 200px;
    z-index: 0;
  }
  .arrows{

    display: flex;
    position:absolute;
    bottom:10px
 
}
  .leftarrow {
    color: #ffa90f;
    width: 200px;
    font-size: 80px;
    font-family: Montserrat;
  }

  .rightarrow {
    color: #ffa90f;
    font-size: 70px;
    font-size: 80px;
    font-family: Montserrat;
  }
}
